<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <title>Pitch Deck</title>
</head>
<body>

    <div class="container">
        {% block navbar %}
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-dark fixed-top shadow-sm">
                    <div class="container">
                        <h4 class="logo"><span class="logo-colour"><i class="fad fa-lightbulb-on fa-lg"></i></span><b> Pitch</b>Deck</h4>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Inspirational Quotes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Positive Quotes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Life Quotes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Motivational Quotes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Funny Quotes</a>
                                </li>
                            </ul>
                            <div class="d-flex">
                            <button class="btn btn-md btn-blue ms-3" data-toggle="modal" data-target="#exampleModal"><b>Add A Quote</b></button>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        {% endblock %}
    </div>

    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>