{% extends "Base.html" %}

<div class="container">
	{% include 'Navbar.html' %}
</div>

{% block content %}

	<div class="text-center landing">
		<h1><span class="logo-colour">First Impression</span> Is Everything!</h1>
		<p>In life, you only have 60 seconds to impress someone. 1 minute can make or break you. How do we make sure that you use your 1 minute to actually say something meaningful? Express yourself in the most interesting way possible.</p>
		<button class="btn btn-lg btn-orange ms-3"><i class="fal fa-pen"></i> Add A Pitch</button>
	</div>

{% endblock content %}

<div class="container footer">
	{% include 'Footer.html' %}
</div>