{% extends "Base.html" %}

<div class="container">
	{% include 'Navbar.html' %}
</div>

{% block content %}

	<div class="text-center landing">
		<h1><span class="logo-colour">First Impression</span> Is Everything!</h1>
		<p>In life, you only have 60 seconds to impress someone. 1 minute can make or break you. How do we make sure that you use your 1 minute to actually say something meaningful? Express yourself in the most interesting way possible.</p>
		{% if current_user.is_authenticated %}
			<button class="btn btn-lg btn-blue ms-3" data-toggle="modal" data-target="#staticBackdrop"><i class="fal fa-plus-square"></i> Add A Pitch</button>
		{% else %}
			<a href="{{ url_for('login') }}">
				<button class="btn btn-lg btn-blue ms-3"><i class="fal fa-pen"></i> Get Started</button>
			</a>
		{% endif %}
	</div>

	<br>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Creative Pitches</h5>
						<p class="card-text ct">Successful creative projects are based on thinking, exploring, researching and generating ideas.</p>
						<a href="{{ url_for('creative') }}" class="btn btn-black">View All</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Business Pitches</h5>
						<p class="card-text ct">A business pitch is a business plan that you present to your potential investors to secure funding.</p>
						<a href="{{ url_for('business') }}" class="btn btn-black">View All</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Interview Pitches</h5>
						<p class="card-text ct">A brief, 30 – 60 seconds speech that gets attention and makes the interviewer genuinely interested in you.</p>
						<a href="{{ url_for('interview') }}" class="btn btn-black">View All</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Sales Pitches</h5>
						<p class="card-text ct">A sales pitch is a short, optimized presentation that packages your offerings in simple terms.</p>
						<a href="{{ url_for('sales') }}" class="btn btn-black">View All</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Product Pitches</h5>
						<p class="card-text ct">If you are selling a product, the goal is to catch the buyer’s attention and convince them to learn more.</p>
						<a href="{{ url_for('product') }}" class="btn btn-black">View All</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card shadow-sm">
					<div class="card-body bg-blue">
						<h5 class="card-title text-light">All Pitches</h5>
						<p class="card-text ct text-light">All the best pitches by our large community on Pitch Deck.</p>
						<a href="{{ url_for('pitches') }}" class="btn btn-outline-light">View All Pitches</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<h1><b>All <span class="logo-colour">Pitches</span></b></h1>
		<hr><br>
		<div class="row">
			{% for pitch in pitches %}
			<div class="col-sm-4 pitch-card">
				<div class="card shadow-sm h-100">
					<div class="card-body">
						<p class="card-text text-dark ct">{{ pitch.category }}</p>
						<p class="card-title">{{ pitch.pitch_body }}</p>
						<p class="card-text ct">Date Added: {{ pitch.date_published.strftime('%Y-%m-%d') }}</p>
						<div class="text-center">
							<br>
							<a href="#">
								<button type="button" id="likes" class="btn btn-sm btn-success" ><i class="far fa-thumbs-up"></i> ( {{ pitch.likes.count() }} )</button>
							</a>
							<a href="#">
								<button type="button" id="dislikes" class="btn btn-sm btn-danger" ><i class="far fa-thumbs-down"></i> ( {{ pitch.dislikes.count() }} )</button>
							</a>
							<a href="/add-comment/{{pitch.id}}">
								<button type="button" id="trash" class="btn btn-sm btn-dark"><i class="far fa-comment"></i> ( {{ pitch.comment.count() }} )</button>
							</a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add A Pitch</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				</div>
				<div class="modal-body">
					<form action="" method="POST">
						{% for field, errors in form.errors.items() %}
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
								{{ ', '.join(errors) }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
						{{ form.csrf_token }}
						<div class="form-group">
							{{ form.pitch_body(class="form-control", placeholder="Your Pitch") }}
						</div>
						<div class="form-group">
							{{ form.category(class="form-control", placeholder="Choose Category") }}
						</div>
						<div class="form-group">
							{{ form.submit(class="btn btn-blue btn-block")}}
							<button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<div class="container footer">
	{% include 'Footer.html' %}
</div>