{% block navbar %}
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top shadow-sm">
        <div class="container">
            <a href="{{ url_for('home') }}">
                <h4 class="logo"><span class="logo-colour"><i class="far fa-comment-dots fa-lg"></i></span><b> Pitch</b><span class="logo-colour">Deck</span></h4>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('creative') }}">Creative Pitches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('business') }}">Business Pitches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('interview') }}">Interview Pitches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('sales') }}">Sales Pitches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('product') }}">Product Pitches</a>
                    </li>
                </ul>
                <div class="d-flex">
                {% if current_user.is_authenticated %}
                    <div class="dropdown">
                        <button class="btn btn-black dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                        <i class="fal fa-user fa-lg"></i>  {{ current_user.first_name }} {{ current_user.last_name }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#staticBackdrop"><i class="fal fa-plus-square"></i> Add A Pitch</a>
                            <a class="dropdown-item" href="{{ url_for('profile') }}"><i class="fal fa-user-alt"></i> My Profile</a>
                            <a class="dropdown-item" href="{{ url_for('my_pitches') }}"><i class="fal fa-file-alt"></i> My Pitches</a>
                            <a class="dropdown-item" href="{{ url_for('logout') }}"><i class="fal fa-sign-out"></i> Logout</a>
                        </div>
                    </div>
                {% else %}
                    <a href="{{ url_for('login') }}">
                        <button class="btn btn-md btn-blue ms-3" data-toggle="modal" data-target="#exampleModal"><b>Log In </b><i class="fal fa-sign-in"></i></button>
                    </a>
                {% endif %}
                </div>
            </div>
        </div>
    </nav>
</div>
{% endblock %}